*{
    box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	line-height: 1.6;
	color: #565656;
}

.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.team-sec {
	background: #efefef;
	padding: 100px 0;
}
.member {
	padding: 15px;
	background: #fff;
	border-bottom: 3px solid #0cf10c;
	position: relative;
}
.member::before {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	background: #e7ffe7;
	clip-path: polygon(100% 0, 0 0, 52% 33%);
}

.team {
	display: grid;
	grid-template-columns: repeat(6, minmax(0,1fr));
	gap: 20px 10px;
}
.profile-img {
	height: 150px;
	width: 150px;
	object-fit: cover;
	border-radius: 9999px;
	border: 4px solid rgb(22, 222, 22, 1);
	transition: border .1s;
	position: relative;
	z-index: 10;
	display: block;
	margin: auto;
	transition: .4s;
	cursor: pointer;
}
.profile-img:focus {
	transform: scale(1.07);
}
.member:hover .profile-img{
	border-color: #16de16;
}
.overlay-left .profile-img {
	margin-bottom: 30px;
}
.inline-icon {
	display: flex;
	align-items: center;
	gap: 5px;
	color: #049a04;
	font-size: 15px;
}
.member h2 {
	margin: 10px 0;
	font-size: 18px;
}
.member p {
	margin-bottom: 0;
	text-align: justify;
}
.see-more {
	display: block;
	background: #02b502;
	color: #fff;
	text-decoration: none;
	padding: 6px 30px;
	margin-top: 30px;
	font-size: 14px;
	border-radius: 2px;
	text-align: center;
}
.overlay-wrapper {
	position: fixed;
	background: rgba(0,0,0,.7);
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 30;
	padding: 5%;
	overflow-y: auto;
	opacity: 0;
	visibility: hidden;
}
.overlay-wrapper:target {
	visibility: visible;
	opacity: 1;
}
.close {
	position: absolute;
	text-decoration: none;
	font-size: 35px;
	line-height: 1;
	font-weight: 100;
	right: 10px;
	top: 3px;
}
.overlay {
	max-width: 800px;
	position: relative;
	margin: auto;
	background: #fff;
	padding: 30px;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	scale: .3;
	transition: all .7s;
}
.overlay-wrapper:target .overlay{
	scale: 1;
}
.overlay-left {
	width: 250px;
}

.overlay-right {
	flex: 1;
	text-align: left;
}

@media all and (max-width: 1340px){
	.team {
		grid-template-columns: repeat(4, minmax(0,1fr));
	}
}
@media all and (max-width: 991px){
	.team {
		grid-template-columns: repeat(2, minmax(0,1fr));
	}
}
@media all and (max-width: 700px){
	.overlay {
		flex-direction: column;
		text-align: center;
	}
	.overlay-right{
		text-align: center;
	}
	.overlay-left {
		margin: auto;
	}
}
@media all and (max-width: 575px){
	.team {
		grid-template-columns: repeat(1, minmax(0,1fr));
	}
}